body {
  background-color: gray;
}

#purple {
  background-color: purple;
  width: 30px;
  height: 30px;
}

#green {
  background-color: green;
  width: 30px;
  height: 30px;
}

.color-square {
  width: 30px;
  height: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
